.courseListContainer {
  display: grid;
  /* grid-column: auto auto; */
  grid-template-columns: 49% 49%;
  grid-column-gap: 2%;
}
.courseListCard {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  padding: 10px;
  /* justify-content: center; */
  align-items: center;
  /* min-width: 300px; */
}
.courseListCard > img {
  /* width: 240;
  height: 135px; */
  max-width: 100%;
  /* min-height: 100%; */
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}
.courseDetails {
  margin: 10px;
  padding: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
.course_title {
  font-size: 20px;
  font-weight: bold;
}
.filter_by > button {
  background-color: rgb(226, 225, 225);
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.buttonStyle {
  border: 2px solid teal !important;
}
@media screen and (max-width: 1080px) {
  .course_title {
    font-size: 15px !important;
  }
  .course_desc,
  .course_author,
  .course_price {
    font-size: 10px !important;
  }
  .courseListCard > img {
    width: 100px;
    height: auto;
  }
  .courseListContainer {
    grid-template-columns: 98%;
  }
}
@media screen and (max-width: 490px) {
  .course_title {
    font-size: 10px !important;
  }
  .course_desc,
  .course_author,
  .course_price {
    font-size: 8px !important;
  }
  .courseListCard > img {
    width: 70px;
    height: auto;
  }
  .courseListContainer {
    grid-template-columns: 98%;
  }
}

@media screen and (max-width: 490px) {
  .filter_by > button {
    font-size: 6px;
  }
  .filter_by {
    font-size: 6px;
  }
  .courseListContainer {
    grid-template-columns: 98%;
  }
}
