.main_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 10px;
  /* border: 1px solid red; */
}
.main_header_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400px;
  font-size: 50px;
}
.searchBar_main {
  flex: 1;
  margin: 5px;
}
.main_header > h2 {
  margin: 5px;
}
